# deps & builds
node_modules/
.next/
out/

# env files (keep secrets out of git)
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editors & OS
.vscode/*
.DS_Store
